:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --accent: #aa3bff;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
}

body {
  margin: 0;
  font: 18px/145% var(--sans);
  background: var(--bg);
  color: var(--text);
}

/* DARK MODE */
body.dark-mode {
  --text: #9ca3af;
  --text-h: #f3f4f6;
  --bg: #16171d;
  --border: #2e303a;
  --accent: #c084fc;
}

/* ROOT LAYOUT */
#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  border-inline: 1px solid var(--border);
}

/* HEADINGS */
h1 {
  font-size: 56px;
  margin: 32px 0;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 36px;
  }
}